/* START HEADER */
.bg-header {
    background: linear-gradient(0deg, #ff6600 0%, #ffb366 100%)
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    transition: opacity 0.3s, height 0.5s;
    opacity: 0;
    z-index: 999;
}

.header.visible {
    opacity: 1;
    will-change: transform;
    height: 50px;
}

.header.hidden {
    opacity: 0;
    height: 0;
}

/* END HEADER */


.icon-content {
    display: flex;
    flex-direction: column;
    align-items: center
}

.icon-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer
}

.btn-login {
    border: none;
    /* animation: button-login 5s ease-in-out infinite; */
}


/* @keyframes button-login {
    0% {
        border-bottom: 2px solid rgb(255, 255, 255);
    }

    25% {
        border-bottom: 2px solid rgb(255, 123, 0);
    }

    50% {
        border-bottom: 2px solid rgb(255, 239, 9);
    }

    75% {
        border-bottom: 2px solid rgb(255, 0, 0);
    }

    100% {
        border-bottom: 2px solid rgb(255, 255, 255);
    }
} */

.text-login {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* font-size: 18px; */
    font-weight: bold;
    /* animation: text-login 5s ease-in-out infinite; */
}

/* @keyframes text-login {
    0% {
        color: rgb(255, 255, 255);
    }

    25% {
        color: rgb(255, 123, 0);
    }

    50% {
        color: rgb(255, 239, 9);
    }

    75% {
        color: rgb(255, 0, 0);
    }

    100% {
        color: rgb(255, 255, 255);
    }
} */