.btn-outline {
    border: 1px solid #cf6f33;
    color: #cf6f33;
    transition: 0.6s
}

.btn-outline:hover {
    background: linear-gradient(0deg, #cf6f33 0%, #ffbb87 100%);
    color: #fff;
    transition: 0.6s;
}

.btn-contain {
    background: linear-gradient(0deg, #cf6f33 0%, #ffbb87 100%);
    border: 1px solid #cf6f33;
    color: #fff;
    transition: 0.6s;
}

.btn-contain:hover {
    background: linear-gradient(0deg, #b9b9b9fe 0%, #ffffff 100%);
    color: #cf6f33;
    font-weight: bold;
    transition: 0.6s
}

.btn-close_modal {
    background: linear-gradient(0deg, #545454fe 0%, #c5c5c5 100%);
}

.btn-close_modal:hover {
    background: linear-gradient(0deg, #b7b7b7fe 0%, #f3f2f2 100%);
    color: #cf6f33;
    font-weight: bold;
}

/* BUTTON ANIMATE */
.custom-btn_animate {
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    border: 2px solid #5c246d;
    animation: button-animation 4s ease-in-out infinite;
}

/* @media screen and (max-width: 600px) {
    .custom-btn_animate {
        height: 40px;
    }
} */

@keyframes button-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}

.btn-animate {
    background: linear-gradient(0deg, #cf6f33 0%, #ffbb87 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-animate span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-animate:before,
.btn-animate:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #cf6f33;
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.4s ease;

}

.btn-animate:before {
    height: 0%;
    width: 2px;
}

.btn-animate:after {
    width: 0%;
    height: 2px;
}

.btn-animate:hover {
    color: #cf6f33;
    background: transparent;
    font-weight: bold;
}

.btn-animate:hover:before {
    height: 100%;
}

.btn-animate:hover:after {
    width: 100%;
}

.btn-animate span:before,
.btn-animate span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #cf6f33;
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.4s ease;
}

.btn-animate span:before {
    width: 2px;
    height: 0%;
}

.btn-animate span:after {
    height: 2px;
    width: 0%;
}

.btn-animate span:hover:before {
    height: 100%;
}

.btn-animate span:hover:after {
    width: 100%;
}