.card-content {
    background-color: #ffffff;
    transition: 0.6s;
    /* box-shadow: 12px 10px 8px rgba(168, 168, 168, 0.33) */
}

.card-content:hover {
    transform: scale(1.1);
    background-color: #f3fffe;
    /* box-shadow: 0px 0px 0px rgba(221, 221, 221, 0.2) */
    box-shadow: 12px 10px 8px rgba(168, 168, 168, 0.432)
}

.name-product {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}