.card-content {
    background-color: #ffffff;
    transition: 0.6s;
    /* box-shadow: 12px 10px 8px rgba(91, 91, 91, 0.4) */
}

.card-content:hover {
    transform: scale(1.1);
    background-color: #f3fffe;
    /* box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.2) */
}

.name-product {
    color: #000000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}