* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  /* background-color: rgb(216, 33, 248); */

}

.text-color {
  color: #ff6600;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.text-font{
  font-family: 'Montserrat', sans-serif;
}

.eyes-password {
  float: right;
  position: relative;
  top: -33px;
  right: 10px;
  cursor: pointer;
  color: #ff6600;
}


.product-layout {
  margin: 0 50px;
}

.contain-outlet {
  margin-top: 70px;
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  .contain-outlet {
    margin-top: 110px;
  }

  .product-layout {
    margin: 0 1%;
  }
}

@media screen and (max-width: 900px) {
  .contain-outlet {
    margin-top: 120px;
  }
}

@media screen and (min-width: 1800px) {
  .contain-outlet {
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .product-layout {
    margin: 0 5%;
  }
}