* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  /* background-color: rgb(216, 33, 248); */

}

/* .bg-layout {
  background-image: url(https://thuthuatnhanh.com/wp-content/uploads/2021/12/background-de-thuong.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #f5f5f5;
} */

.text-color {
  color: #cf3379
}

.margin-header {
  margin-top: 70px
}

.eyes-password {
  float: right;
  position: relative;
  top: -33px;
  right: 10px;
  cursor: pointer;
  color: #cf3379;
}


@media screen and (max-width: 600px) {
  .margin-header {
    margin-top: 110px;
  }
}

@media screen and (max-width: 900px) {
  .margin-header {
    margin-top: 120px;
  }
}