* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  /* background-color: rgb(216, 33, 248); */

}

.product-layout {
  margin: 0 50px;
}

.text-color {
  border: 2px solid #cf6f33;
}

.margin-header {
  margin-top: 70px
}

.eyes-password {
  float: right;
  position: relative;
  top: -33px;
  right: 10px;
  cursor: pointer;
  color: #d79c5a;
}


@media screen and (max-width: 600px) {
  .margin-header {
    margin-top: 110px;
  }

}

@media screen and (max-width: 900px) {
  .margin-header {
    margin-top: 120px;
  }

  .product-layout {
    margin: 0 20px;
  }
}

@media screen and (min-width: 1800px) {
  .product-layout {
    margin: 0 200px;
  }
}