* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-layout {
  /* background-image: url('https://thuthuatnhanh.com/wp-content/uploads/2021/12/background-de-thuong.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  background-color: #f5f5f5;
  /* background-color: #ffffff; */
}

.margin-header {
  margin-top: 66px
}

@media screen and (max-width: 600px) {
  .margin-header {
    margin-top: 53px;
  }
}