.form-body {
    position: relative;
    background-image: url("../../assets/images/bg-login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 120vh;
    // overflow: scroll;

    .form-css {
        position: absolute;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        padding: 50px;
        border-radius: 24px;
        border: 1px solid #eeeded;
        background-color: #000000bd;
        box-shadow: 0 0 30px #cf3379;
        color: #fff;
        border: 2px solid #cf3379;
        z-index: 2; /* Thay đổi giá trị z-index thành 2 */

        .come-back {
            position: absolute;
            top: -1%;
            left: 20%;
            transform: translate(-50%, -50%);
            font-weight: bold;
            // background-color: #cf3379;
            background: linear-gradient(0deg, #cf3379 0%, #ff87bd 100%);
            transition: 0.4s;

            &:hover {
                background: linear-gradient(0deg, #d9d9d9c6 0%, #ffffff 100%);
                color: #cf3379;
            }
        }

        .btn-login_register {
            // background-color: #cf3379;
            background: linear-gradient(0deg, #cf3379 0%, #ff87bd 100%);
            transition: 0.4s;
            &:hover {
                background: linear-gradient(0deg, #d9d9d9c6 0%, #ffffff 100%);
                color: #cf3379;
            }
        }
        input {
            background-color: transparent;
            color: #fff;
            border: 2px solid #cf3379;

            &::placeholder {
                color: #a8a6a6;
            }
            &:focus {
                box-shadow: 0 0 30px rgb(251, 138, 227);
            }
        }
        button {
            border: 2px solid #cf3379;
            transition: 0.4s;

            // &:hover {
            //     background-color: #cf3379;
            // }
        }

        .text-register {
            color: #fff;
            &:hover {
                color: #cf3379;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .form-css {
        width: 270px;
        padding: 50px 15px;
    }
}
